@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body { 
    background-color: #8A2BE2;
    background-image: url(bg2.png), url(bg1.png);
	background-repeat: no-repeat, repeat;
	background-size: cover, auto;
    color: #2F3C7E; 
    font-family: Arial;
}

#container { 
    background-color: #FFE4E1;
	background-image: url(side.png);
	background-position: bottom right;
	background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    min-width: 700px;
	}
	
img {
  height: auto;
  max-width: 100%;
}



header { 
    background-color: #2F3C7E;
    height: 15em;
	background-image: url(logo.png), url(headerBG.png);
	background-repeat: no-repeat;
	background-size: 218px auto, cover;
    color: #FFFFFF;
    font-family: Outfit;
	font-style: italic;
    text-align: left;
	padding-left: 230px;
	padding-top: 3em;
	padding-bottom: 2em;
	text-shadow: 0 0 5px #969696, 0 0 5px #969696;
}

h4  {
	font-size: 24px;
    text-align: left;
}

h1 {
	font-size: 3em;
}

h2 { 
    font-size: 2em;
}

nav { 
    font-weight: bold;
	font-size: 1.2em;
    padding: .5em;
    float: left;
    width: 290px;
	transition: 0.3s;
}

nav ul {
    list-style-type: none;
	transition: 0.3s;
}

nav a {
	display: table;
	padding: 2px 5px;
    text-decoration: none;
	transition: 0.3s;
}

nav a:link {
    color: #2b2b2b;
	transition: 0.3s;
}

nav a:visited {
    color: #2b2b2b;
	transition: 0.3s;
}

nav a:hover {
	color: #FFFFFF;
	background: rgb(130,130,130);
	background: linear-gradient(90deg, rgba(130,130,130,1) 50%, rgba(130,130,130,0.7777485994397759) 66%, rgba(130,130,130,0.4920343137254902) 85%, rgba(130,130,130,0.27074579831932777) 93%, rgba(130,130,130,0) 100%);
	text-shadow: 0 0 5px #969696, 0 0 5px #969696;
	transition: 0.3s;
}

main { 
    padding: 2em;
    margin-left: 290px;
	margin-right: 290px;
    background-color: #E0FFFF;
	border: 0.5px solid #FFFFFF;
	min-height: 580px;
}

desc{
	font-size: 12px;
}

dt {  
    font-size: 1.5em;
    font-weight:bold;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

footer { 
    background-color: hsl(217,59%,25%);
	background-image: url(footerBG.png);
	background-repeat: no-repeat;
	background-size: cover;
    color: #D5E3FF;
	font-size: 0.8em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

footer a:link {
color: #AFEEEE;
opacity: 0.6;
transition: 0.3s;
}

footer a:visited {
color: #AFEEEE;
}

footer a:hover {
color: #FFFFFF;
opacity: 1;
}

.button {
  background-color: #FFE4E1;
  border: none;
  color: #1b1b1b;
  padding: 0px 32px;
  text-align: left;
  font-size: 19.2px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}
</style>
</head>
<body>